@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Gotham/gotham-black.woff2") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Gotham/gotham-bold.woff2") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Gotham/gotham-book.woff2") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Gotham/gotham-light.woff2") format("truetype");
}
