<form class="form-group container-layout" [formGroup]="form">
  <div class="container-icon">
    <img
      src="/assets/icons/icon-hour.png"
      alt="Ícone de um relógio"
      class="container-icon__img"
    />
    Horário
  </div>

  <h3 class="form-group__title">Qual período quer treinar?</h3>

  <div class="radio-wrapper">
    <div>
      <input
        type="radio"
        name="hour"
        id="morning"
        value="morning"
        class="radio-wrapper__radio"
        formControlName="hour"
      />
      <label for="morning">Manhã </label>
    </div>
    <span>06:00 às 12:00</span>
  </div>

  <div class="radio-wrapper">
    <div>
      <input
        type="radio"
        name="hour"
        id="afternoon"
        value="afternoon"
        class="radio-wrapper__radio"
        formControlName="hour"
      />
      <label for="afternoon">Tarde </label>
    </div>
    <span>12:01 às 18:00</span>
  </div>

  <div class="radio-wrapper">
    <div>
      <input
        type="radio"
        name="hour"
        id="night"
        value="night"
        class="radio-wrapper__radio"
        formControlName="hour"
      />
      <label for="night">Noite </label>
    </div>
    <span>18:01 às 23:00</span>
  </div>

  <div class="checkbox-wrapper">
    <div class="checkbox-container">
      <input
        type="checkbox"
        name="showClosed"
        id="showClosed"
        class="checkbox-wrapper__checkbox"
        formControlName="showClosed"
      />
      <label for="showClosed">Exibir unidades fechadas</label>
    </div>

    <div class="container-results">
      <p>
        Resultados encontrados: <span>{{ filteredResults.length }}</span>
      </p>
    </div>
  </div>

  <div class="buttons-wrapper">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Encontrar unidade
    </button>
    <button type="button" class="btn btn-secondary" (click)="onClear()">
      Limpar
    </button>
  </div>
</form>
